<div style="background-color: #262626; color: white; padding-top: 50px; background-image: url('src/assets/bg-wave.svg'); background-repeat: repeat-x;
    background-position-x: center;
    background-position-y: 330px;
    background-size: 2124px 300px;">
  <div style="padding-right: 8%;
    padding-left: 8%;margin-left: auto;
    margin-right: auto; max-width: 950px;">
    <div style="font-size: 15px; padding: 1rem 1rem 0 1rem; color: #ff914d"><span>Podcast with Sanju Barkule of 7Targets</span></div>
    <h1 style="font-size: 30px; padding: 0 1rem">{{episode?.title}}</h1>
    <div style="display: flex; padding: 0.5rem 0">
      <div class="avatar">
      </div>
      <div style="margin: 0.5rem">
        <span>Hosted by</span><br>
        <span>Aayush Bhutada</span>
      </div>
    </div>
    <div style="display: flex; justify-content: center; margin: 1rem">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/bgjc1D9fw9o" title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
    </div>
  </div>
</div>
<!--<div style="display: flex; justify-content: center; margin: 1rem">-->
<!--  <iframe width="560" height="315" src="https://www.youtube.com/embed/bgjc1D9fw9o" title="YouTube video player"-->
<!--          frameborder="0"-->
<!--          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"-->
<!--          allowfullscreen></iframe>-->
<!--</div>-->
<div style="display: flex; justify-content: center">
  <iframe src="https://anchor.fm/aayush-bhutada0/embed" height="102px" width="400px" frameborder="0"
          scrolling="no"></iframe>
</div>
<div>
  <span>6 days ago

“If you don't find anyone else doing the same thing, then you are steering in the wrong direction. You cannot be the only person visualizing a problem as a problem. Personally, I prefer to be the third or fourth player in the market. After that, a lot of players will come. I don't want to put the bootstrap money into educating the market.”

In this episode, Sanju Burkule opens up about his story of how he came into the world of automation.

Sanju is a hardcore automation person, but recently he has come to realize the immense power of data and the power of data intelligence.

He started his first startup during his sophomore year when people purchased computers. People were not aware if they had the right software for it. He was not aware that he was creating a start-up. It was an accidental way of building a start-up.

Sanju is a serial entrepreneur with 2 decades of experience. Loves automating stuff. Recent obsession is around adding intelligence in marketing and sales solutions. He is currently focusing on a simple but very important problem of making sure that sales leads never get dropped due to missed follow-ups. His new mission is Deliver 2x HOT and Warm leads to Sales at 1/10th cost through 7Targets.

In his own words, "CRMs were only excel sheets.There was no automations in the CRM sector. It was just a structured way of oragnising things but there was no innovation. One of the pain point that I realised was even in CRM(Customer relationship management) the relationship was not maintained with customers. There was no communication at all and it is true even today. CRM just save the data they do not manage the relationships however that definitely give you the ability to manage relationships. That's when we realised that we had to intervene we wanted to give the ability to the CRMs in order to build relations on their own. 7Targets tries to bridge the gap."

Sanju has catered to a couple of hundred customers. And he was very sure that he did not want to utilize his connections to build the business. As a result, he desired to be able to sell his products on their own merits and relied on 7Targets assistants to acquire its initial clients.

Watch the full episode to learn more about his thought process and learn trinkets of wisdom.

Linkedin Profile: https://lnkd.in/dqjwRbTT

You can connect with us on: https://lnkd.in/dhrqNDER

Full Episode Link: https://lnkd.in/dy3jqQuH</span>
</div>
